<!-- <div class="container fluid">
    <a href="#" class="btn btn-outline-success btn-lg" id="ups">
        <span class="glyphicon glyphicon-thumbs-up"></span> 
      </a>
      <a href="#" class="btn btn-outline-danger btn-lg"  id="downs">
        <span class="glyphicon glyphicon-thumbs-down"></span> 
      </a> -->
    <!-- <button class=" btn btn-success " id="ups" (click)="upVote()">{{upsVote}} likes </button> -->
    <!-- <button class=" btn btn-danger " id="downs" (click)="downVote()">{{downsVote}} dislikes</button> -->
<!-- </div> -->
