<div class="container-fluid text-center " style="background-color: black" id="title">
    <h2 class="jumbotron "   >Quote for us</h2> 
  </div>
 
  <div  id="details">
    <div class="col-md-6" style="background-color: wheat;">
     <div  *ngFor = 'let quote of quotes; let i = index'>
       <div>
        <p  id="{{i}}" appHighlight > {{quote.saying}}</p>
        <button (click)='toggleDetails(i)'>show quote Details</button>

       </div>
       <div *ngIf='quote.showDetails'>
        <app-quote-detail  [quote]='quote' (toDelete)= 'deleteQuote($event,i)'></app-quote-detail>

      </div>
      <app-vote></app-vote>
     </div> 
    </div>
    <div class="col-md-6" style="background-color: honeydew;" >
      <app-quote-form (addQuote)="addNewQuote ($event)"></app-quote-form>
    </div>
  </div>

  
  
     
 
 