<div class="container-fluid text-center">
    <h2 class="jumbotron">Quote for us</h2> 
  </div>
 
  <div class="row container-fluid">
    <div class="col-md-7">
     <div  *ngFor = 'let quote of quotes; let i = index'>
       <div>
        <p > {{quote.saying}}</p>
        <button (click)='toggleDetails(i)'>show quote Details</button>

       </div>
       <div *ngIf='quote.showDetails'>
        <app-quote-detail  [quote]='quote' (toDelete)= 'deleteQuote($event,i)'></app-quote-detail>

      </div>
      <app-vote></app-vote>
     </div> 
    </div>
    <div class="col-md-5">
      <app-quote-form (addQuote)="addNewQuote ($event)"></app-quote-form>
    </div>
  </div>

  
  
     
 
 