<div class="container-fluid text-center " style="background-color: black" id="title">
    <h2 class="jumbotron "   >Quote for us</h2> 
  </div>
 
  <div  id="details">
    <div class="col-md-6" style="background-color: wheat;">
     <div  *ngFor = 'let quote of quotes; let i = index'>
       
        <p  *ngIf ='quote.highestQuote; else notHighest'appHighlight  > {{quote.saying}}</p>

       <ng-template #notHighest ><p>{{quote.saying}}</p></ng-template>


        <div class="container fluid">
          <a href="#" class="btn btn-outline-success btn-lg" id="ups" (click)="upVotes(i)">{{quote.ups}}
              <span class="glyphicon glyphicon-thumbs-up"></span> 
            </a>
            <a href="#" class="btn btn-outline-danger btn-lg"  id="downs" (click)="downVotes(i)">{{quote.downs}}
              <span class="glyphicon glyphicon-thumbs-down"></span> 
            </a>
        <button (click)='toggleDetails(i) ' class="show">show quote Details</button>

       </div>

       <div *ngIf='quote.showDetails'>
        <app-quote-detail  [quote]='quote' (toDelete)= 'deleteQuote($event,i)'></app-quote-detail>
        

      </div>
      <app-vote></app-vote>
     </div> 
    </div>
    <div class="col-md-6" style="background-color: honeydew;" >
      <app-quote-form (addQuote)="addNewQuote ($event)"></app-quote-form>
    </div>
  </div>

  
  
     
 
 