<div class="container-fluid">
        
    <form #quoteForm ='ngForm'  >
               
            <div class="form-group container" >
  
            <label for="quote">My quote</label>
            <textarea ngModel name="quote" class="form-control" id="quote" rows="2"  [(ngModel)]="newQuote.saying" id="saying" #saying="ngModel "required ></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
              <p>Quote is required</p>
           
               
        </div>
        <div class="form-group container">
            <label for="author">Author</label>  
            <input type="text" ngModel name="author" class="form-control" name="author" [(ngModel)]="newQuote.author" id="author" #author='ngModel' required> 
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Author details is required</p>             
            </div>
              
          
       
        <button type="submit" class="btn btn-success">Add quote</button>

    </form>

  </div>